#iteration1 {
    img {
        width: 100px;
        height: auto;
    }
}
.iteration3 {
    background-color: cornflowerblue;
}
.iteration3 {
    p {
        background-color: cornflowerblue;
    }
}
.iteration4 {
    p {
        background-color: cornflowerblue;
    }
}
.iteration5 {
    p {
        background-color: cornflowerblue;
    }
    table {
        .tableheaders {
            background-color: lightgrey;
            border: 3px solid black;
        }
        .tabledata {
            background-color: gray;
            border: 3px solid black;
        }
    }
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 15px;
}