#iteration1 {
    img {
        width: 100px;
        height: auto;
    }
}
.iteration3 {
    background-color: cornflowerblue;
}
.iteration3 {
    background-color: cornflowerblue;
}
.iteration4 {
    background-color: cornflowerblue;
}
.iteration5 {
    background-color: cornflowerblue;
    table {
        border: 2px solid black;
        td {
            background-color: gray;
        }
        th {
            background-color: lightgray;
        }
    }
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 15px;
}